<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule cars/(.*)$ index.php?endpoint=$1 [QSA,NC,L]
#https://httpd.apache.org/docs/current/rewrite/flags.html
#QSA = Query String Append.
#NC = nocase
#L = last
</IfModule>